<% include ../partials/header %>

<h1>PlayerTwo</h1>
<button class='readyToPlay'>ready</button>

<div class='p2 player-cards'>
</div>

<script>
    /* global $ io location */
    $(function () {
        var socket = io();
        $('.readyToPlay').on('click', function() {
            socket.emit('player connect', 'playerTwo')
        });
        
        // Initializes player cards after pressing 'ready'
        socket.on('player connect', function(data) {
        	if (data.playerTwo.ready === true) {
	        	$('.readyToPlay').remove();
	        	
	        	if (data.player === 'playerTwo') {
    	        	data.playerTwo.cards.forEach(function(card) {
                	    if (card % 2 === 0) {
                	        $('.p2').append("<button class='input btn btn-block even-cards'>" + card + "</button>");
                	    }
                	    else {
                	        $('.p2').append("<button class='input btn btn-block odd-cards'>" + card + "</button>");
    	        	});
	        	}
        	}
        });
        
        socket.on('score update', function(data) {
            data.playerTwo.cards.forEach(function(card) {
        	    if (card % 2 === 0) {
        	        $('.p1').append("<button class='input btn btn-block even-cards'>" + card + "</button>");
        	    }
        	    else {
        	        $('.p1').append("<button class='input btn btn-block odd-cards'>" + card + "</button>");
        	    }
        	});
        });
            
        // added because clicking doesn't work otherwise
        $('.p2').on('click', '.input', function() {
        	socket.emit('playerTwo move', $(this).text());
        	$('.p2').empty();
        });
        
        socket.on('reset', function() {
            location.reload();
        });
    });
</script>

<% include ../partials/footer %>