<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Black and White Game">
        <meta name="author" content="Daniel Koo">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        
        
        <title>Socket.io Demo</title>
        <style>
          a {
              text-decoration: none; color: steelblue;
          }
        </style>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    </head>
    <body>