<!DOCTYPE html>
<html>
    <head>
        <title>Socket.io Demo</title>
        <style>
          a {
              text-decoration: none; color: steelblue;
          }
        </style>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    </head>
    <body>